body {
    font-family: Verdana,sans-serif;
    margin: 0 0;
    padding: 0 0;
    background-image: url(back.png);
    background-repeat: repeat-y;
    background-size: contain
}

a {
    color: #5872db
}

a:hover {
    color: #6684ff
}

img {border-style: none;}

.header {
    width: 100%;
    height: 47px;
    background-color: #6386db;
    background-image: -webkit-linear-gradient(to top,#637bdb,#6392db);
    background-image: -moz-linear-gradient(to top,#637bdb,#6392db);
    background-image: linear-gradient(to top,#637bdb,#6392db);
    box-shadow: 0 0 15px rgba(99,123,219,0.5)
}

.content {
    position: relative;
    top: 0;
    width: 95%;
    min-width: 1080px;
    max-width: 1400px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto
}

.header2 {
    position: absolute;
    top: -47px;
    width: 100%;
    height: 47px
}

.header2 h1 {
    display: inline-block;
    float: left;
    font-size: 19.04px;
    color: #fff;
    margin-left: 200px;
    padding: 10px 0
}

.header2 span {
    float: left;
    font-size: 12.44px;
    margin-left: 10px;
    color: #fff;
    line-height: 30px
}

.head_links {
    float: right;
    margin-top: 10px
}

.head_links a {
    height: 47px;
    color: #fefad5;
    font-weight: bold;
    font-size: 12px;
    margin-right: 20px;
    text-decoration: none;
    padding-top: 17px;
    padding-bottom: 17px
}

.sticky {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto
}

.logo {
    width: 1262px;
    height: 47px;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -1100px
}

.cont_left {
    position: absolute;
    top: 5px;
    width: 27%;
    padding-right: 10px;
    padding-left: 5px
}

.cont_right {
    display: block;
    float: right;
    width: 70%
}

h1 {
    font-size: 18.87px;
    color: #5872db;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 25px;
    padding-top: 20px
}

.map {
    width: 100%;
    height: 120px;
    overflow: hidden;
    border-radius: 5px;
    border-style: solid;
    border-color: #c7cfeb;
    border-width: 1px;
    margin-bottom: 15px;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    transition-duration: 2s
}

.map:hover {
    height: 250px
}

.case_tit {
    color: #5872db;
    font-size: 28px;
    margin-top: 40px
}

.case_tit li {
    list-style: none;
    display: inline-block;
    margin-right: 28px
}

.case_tit a {
    color: #5872db;
    text-decoration: none;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #5872db
}

.case_tit a:hover {
    color: #6684ff
}

.case_tit span {
    display: inline-block;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 15px
}

.case_tit span strong {
    font-weight: 100;
    margin-right: 35px;
    color: #000;
    margin-left: 3px
}

.case_tit .case_active {
    font-weight: bold;
    border-bottom: none;
    color: #000;
    margin-right: -2px
}

.case_tit .case_active:hover {
    color: #000
}

.case_tit .case_noconnect {
    padding-right: 22px;
    color: dimgrey;
    background-image: url(ic_noconnect.png);
    background-repeat: no-repeat;
    background-position: right
}

.ic_error {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url(ic_error.png);
    background-repeat: no-repeat;
    margin-left: 3px;
    margin-right: 3px
}

.ic_noconnect {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url(ic_noconnect.png);
    background-repeat: no-repeat;
    margin-left: 3px;
    margin-right: 3px
}

nav {
    position: relative;
    width: 100%;
    font-size: 14px;
    color: #5872db;
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 2px
}

nav ul {
    display: block;
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s
}

nav ul:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.1)
}

nav li {
    list-style: none;
    display: block
}

nav a {
    display: block;
    color: #5872db;
    text-decoration: none;
    padding-left: 18px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 0;
    background-image: url(nav.png);
    background-repeat: no-repeat;
    background-position: top 13px left;
    border-bottom-style: solid;
    border-bottom-color: #e9eeff;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-color: #e9eeff;
    border-top-width: 1px
}

nav a:hover {
    color: #6684ff;
    border-bottom-style: solid;
    border-bottom-color: #c8d1f3;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-color: #c8d1f3;
    border-top-width: 1px
}

nav .nav_open {
    background-image: url(nav_open.png);
    background-position: top 16px left
}

nav .icons { display: inline-block; margin-left: 3px; vertical-align: top; }
nav .icons img { margin: 0 1px;}

.sub_nav {
    font-size: 12px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px
}

.sub_nav a {
    background-image: url(nav_li.png);
    background-repeat: no-repeat;
    background-position: top 11px left;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 13px;
    border-bottom-style: solid;
    border-bottom-color: #e9eeff;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-color: #e9eeff;
    border-top-width: 1px
}

.sub_nav a:hover {
    border-bottom-style: solid;
    border-bottom-color: #c8d1f3;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-color: #c8d1f3;
    border-top-width: 1px
}

.sub_nav div {
    background-position: top 2px right
}

.sub_nav .sub_active {
    font-weight: bold;
    background-image: url(nav_li_open.png)
}

.sub_sub_nav {
    display: block;
    font-size: 12px;
    font-weight: 100;
    margin-left: 25px;
    margin-top: 0;
    margin-bottom: 0
}

.sub_sub_nav a {
    background-image: none;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 1px;
    margin-bottom: 1px
}

.sub_sub_nav div {
    background-position: top 1px right
}

.sub_sub_nav .sub_sub_active {
    font-size: 12px;
    color: #000;
    font-weight: bold
}

.block1 {
    overflow: hidden;
    height: auto;
    background-color: #fff;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 0 10px rgba(99,123,219,0.5);
    -webkit-box-shadow: 0 0 10px rgba(99,123,219,0.5);
    -moz-box-shadow: 0 0 10px rgba(99,123,219,0.5)
}

.block1_open {
    display: block;
    float: right;
    width: 100%;
    height: 34px;
    background-image: url(block1_open.png);
    background-repeat: no-repeat;
    background-position: top 12px right 20px;
    background-position-x: 98%;
    background-position-y: 12px;
    top: 0;
    position: absolute;
    cursor: pointer
}

.openblock_check {
    display: none
}

.openblock_check[type="checkbox"]:checked~.block1_lines {
    height: 34px
}

.openblock_check[type="checkbox"]:checked~.block1_lines label {
    background-image: url(block1_close.png)
}

.openblock_check[type="checkbox"]:checked~.block1_devices {
    height: 34px
}

.openblock_check[type="checkbox"]:checked~.block1_devices label {
    background-image: url(block1_close.png)
}

.openblock_check[type="checkbox"]:checked~.block1_logs {
    height: 34px
}

.openblock_check[type="checkbox"]:checked~.block1_logs label {
    background-image: url(block1_close.png)
}

.openblock_check[type="checkbox"]:checked~.block1_erflk {
    height: 34px
}

.openblock_check[type="checkbox"]:checked~.block1_erflk label {
    background-image: url(block1_close.png)
}

.block1_head {
    position: relative;
    height: 34px;
    background-color: #6386db;
    background-image: -webkit-linear-gradient(to top,#637bdb,#6392db);
    background-image: -moz-linear-gradient(to top,#637bdb,#6392db);
    background-image: linear-gradient(to top,#637bdb,#6392db);
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px
}

.block1_title {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    padding-top: 9px;
    margin-left: 10px;
    letter-spacing: 1px;
    float: left
}

.block1_error {
    float: left;
    width: 16px;
    height: 16px;
    background-image: url(ic_error_big.png);
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-left: 9px
}

.block1_errorline {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #db3939
}

.block1_table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #fff;
    border-style: solid
}

.block1_table span {
    display: block;
    font-size: 11px;
    color: #000;
    padding: 10px 10px 10px 10px
}

.block1_row {
    display: table-row;
    background-color: #fff
}

.block1_row:hover {
    background-color: #f0f3ff
}

.block1_error_row span {
    color: #db3939;
    font-weight: bold
}

.block1_green_row span {
    color: #298000
}

.block1_row_top {
    background: linear-gradient(to top,#e6ebff,#fff)
}

.block1_row_top span {
    font-size: 10px;
    font-weight: bold;
    color: #5872db
}

.block1_cell {
    display: table-cell;
    border-style: solid;
    border-color: #d8def4;
    border-width: 1px;
    text-align: left;
    vertical-align: middle
}

.block_calendar {
    display: block;
    height: 24px;
    font-size: 11px;
    border-bottom-style: solid;
    border-bottom-color: #d8def4;
    border-bottom-width: 1px;
    padding: 8px 8px 12px 8px
}

.block_calendar div {
    float: left;
    display: inline-block
}

.block_calendar .calendar_but {
    float: left;
    color: #fefbe0;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 10px 8px 10px;
    margin-left: 8px;
    border-radius: 1px;
    background-image: -webkit-linear-gradient(to top,#637bdb,#6392db);
    background-image: -moz-linear-gradient(to top,#637bdb,#6392db);
    background-image: linear-gradient(to top,#637bdb,#6392db)
}

.block_calendar .calendar_but:hover {
    background-color: #6899e6;
    background-image: none
}

.block_calendar_days {
    padding: 6px 0 0 0;
    margin-right: 20px;
    margin-left: 10px
}

.block_calendar_days a {
    margin-right: 15px;
    text-decoration: none;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #5872db
}

.block_calendar_days .block_calendar_active {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-style: none
}

.calendar_logexp {
    display: block;
    float: right;
    padding: 6px 5px 5px 30px;
    background-image: url(calendar_logexp.png);
    background-position: left;
    background-repeat: no-repeat;
    border-style: none;
    text-decoration: none
}

.block_calendar_time {
    color: #595959
}

.block_calendar_time span {
    float: left;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px
}

.block_calendar_time input {
    float: left;
    display: block;
    width: 120px;
    height: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #a6a6a6;
    background-image: url(calendar_ic.png);
    background-repeat: no-repeat;
    background-position: top right
}

.block_calendar_time .calendar_ic {
    display: inline-block;
    float: left;
    width: 28px;
    height: 29px;
    background-image: url(calendar_ic.png);
    background-repeat: no-repeat
}
